<h1>Listing job_reports</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_reports.each do |job_report| %>
      <tr>
        <td><%= job_report.content %></td>
        <td><%= link_to 'Show', job_report %></td>
        <td><%= link_to 'Edit', edit_job_report_path(job_report) %></td>
        <td><%= link_to 'Destroy', job_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job report', new_job_report_path %>
