<h1>Listing devices</h1>

<table>
  <thead>
    <tr>
      <th>Guid</th>
      <th>Type</th>
      <th>No. of measurement</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.guid %></td>
        <td><%= device.type %></td>
        <td>
          <%= device.measurements.size if device.measurements.any? %>
        </td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
