<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :sysname %>
    <%= f.input :interval %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
