<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Sysname:</strong>
  <%= @job.sysname %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @job.interval %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
